<!DOCTYPE html>
<html>
<head><title>Hello world</title></head>
<script src="/socket.io/socket.io.js"></script>
<script>
    let socket = io();
    socket.on('newClientConnect',function(data){
        document.body.innerHTML = '';
        document.write(data.description);
    });

    console.log(socket)

</script>
<body>Hello world</body>
</html>